 <!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>&lt;營隊簡介<span class="slash">/</span>&gt;</h2>
                    <hr>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <img src="https://ntu.im/sswim/sswim/images/ntu_bg2.jpg" width="100%" height="100%">
                </div>
                <div class="col-lg-4">
                    <p>面對八卦的標準網民：</p>
						<p>（X）謹慎求證思考，提出自己的主張
						<p>（O）拔草測風向，盡情開嘴</p>
						<p></p>
						<p>銳利的文字曾刺傷許多迷失的自我，盲目的輿論曾撲熄許多炙熱的決心。</p>
						<p>於此同時，</p>
						<p>網路溫暖地承載著人們的日常、記憶和情誼，在交織的人際網上，</p>
						<p>一個個未熟的夢想蛻變成真、</p>
						<p>一段段稚嫩的情感淬煉堅實。</p>
						<p></p>
						<p>社群網路SSWIM歡迎你的加入。</p>
						<p>由我們替你保存每一分成長、每一刻快樂。</p>
                </div>
            </div>
        </div>
    </section>
