<section id="download">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>&lt;下載區<span class="slash">/</span>&gt;</h2>
                <hr>
            </div>
        </div>
<table id="download">
    <thead>
        
    </thead>
    <tbody>
        <tr>
            <td>
                <a href="docs/上營行前通知.pdf" target="_blank" role = "button" class="download-a btn bg-dark text-white">行前通知書</a>
            </td>
            <td>
                <strong style="color: red">記得要看!</strong>
            </td>
        </tr>
        <tr>
            <td>
                <a href="docs/新生家長同意書.pdf" target="_blank" role = "button" class="download-a btn bg-dark text-white">新生家長同意書</a>
            </td>
            <td>
                <strong style="color: blue">重要!上營一定要帶</strong>
            </td>
        </tr>
        <tr>
            <td>
                <a href="docs/提前離營切結書.pdf" target="_blank" role = "button" class="download-a btn bg-dark text-white">提前離營切結書</a>
            </td>
            <td>如果需要提前離營請填</td>
        </tr>
        <tr>
            <td>
                <a href="docs/中途離營切結書.pdf" target="_blank" role = "button" class="download-a btn bg-dark text-white">中途離營切結書</a>
            </td>
            <td>如果需要中途離營請填</td>
        </tr>
        <tr>
            <td>
                <a href="docs/營手冊.pdf" target="_blank" role = "button" class="download-a btn bg-dark text-white">營手冊</a>
            </td>
            <td>
                <strong>營手冊上營會發，不用印下來!</strong>
            </td>
        </tr>
    </tbody>
</table>

</div>
</section>