<!-- Footer -->
<footer class="text-center">
    <div class="footer-above">
        <div class="container">
            <div class="row">
                <div align="left" class="footer-col col-md-8">
                    <h4>友情贊助</h4>

                    西瓜人，就西瓜人。還不趕快找。

                </div>
                <div align="left" class="footer-col col-md-4">
                    <h4 id="icheft">聯絡我們</h4>
                    <p>This website is temporarily set up by Brian L. Chen. You can visit his main site
                        <a href="https://icheft.github.io">here</a>.
                    Or you can find him through a couple of different channels:</p>
                    <ul class="list-inline">
                        {% for network in site.social %}
                            <li>
                                <a href="{{ network.url }}" class="btn-social btn-outline">
                                    <i class="fa fa-fw fa-{{ network.title }}"></i>
                                </a>
                            </li>
                        {% endfor %}
                    </ul>

                </div>

            </div>
        </div>
    </div>
    <div class="footer-below">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    Copyright &copy;
                    {{ site.footer.copyright }}
                    20{{ site.time | date: '%y' }}
                </div>
            </div>
        </div>
    </div>
</footer>

<!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
<div class="scroll-top page-scroll visible-xs visible-sm">
    <a class="btn btn-primary" href="#page-top">
        <i class="fa fa-chevron-up"></i>
    </a>
</div>
