<section id="game">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>&lt;玩西瓜<span class="slash">/</span>&gt;</h2>
                <hr>
            </div>
        </div>
        <div class="row">


            <div class="content"></div>
            <h3 align="center">自己想遊戲啦乾，用什麼知識王。</h3>
            <div class="col-lg-12 text-center">
                <hr>
                <p>
                    嗨，你可以 get Watermelon Smash on
                    <a href="https://www.amazon.com/Watermelon-Smash-Suspenseful-which-Cracks/dp/B07CTXTDK5">Amazon</a>
                    或... 我實在想不到...
                </p>
            </div>

        </div>
    </div>
</section>
