    <!-- Header -->
    <header>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <!-- <img class="img-responsive" src="img/profile.png" alt=""> -->
                    <div class="intro-text">
                        <span class="name">&lt;{{ site.title }}<span class="slash">/</span>&gt;</span>
                        <h4>{{site.description}}</h4>
                        <!-- <span class="skills">{{ site.skills }}</span> -->
                        <div class="scroll-down">
                            <span class="page-scroll"><a href="#application"><span></span>直接報名</a></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>