<!-- Header -->
<header>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <!-- <img class="img-responsive" src="img/profile.png" alt=""> -->
                <div class="intro-text">
                    <span class="name">&lt;{{ site.title }}<span class="slash">/</span>&gt;</span>
                    <h3>{{site.description}}</h3>
                    <br>
                    <h5 style="color: rgba(100, 34, 34, 0.981)">TL;DR</h5>
                    如果有什麼建議或是改善辦法，請直接在
                    <a href="https://github.com/icheft/climas">GitHub</a>
                    上提出。
                    <style>
                            li { display: inline-block; }
                        </style>
                    <br>
                    <br>
                    <li>
                        <a href="https://github.com/icheft/climas"><img alt="GitHub stars" src="https://img.shields.io/github/stars/icheft/climas?label=Stars%20%28%E5%B9%AB%E6%88%91%20Star%20%E5%98%9B%20%F0%9F%98%A2%29&style=social"></a>
                    </li>
                    <li>
                        <a href="https://github.com/icheft/climas"><img alt="GitHub forks" src="https://img.shields.io/github/forks/icheft/climas?label=Forks%20%28%E8%A6%81%E6%94%B9%E7%9A%84%E8%A9%B1%20%E6%AD%A1%E8%BF%8E%20Fork%20%E5%96%94%29&style=social"></a>
                    </li>
                    <li>
                        <a href="https://github.com/icheft/climas"><img alt="GitHub last commit" src="https://img.shields.io/github/last-commit/icheft/climas"></a>
                    </li>
                    <br>
                    💁🏾‍♂️
                                                            <!-- <span class="skills">{{ site.skills }}</span> -->
                    <div class="scroll-down">
                        <span class="page-scroll">
                            <a href="#application">
                                <span></span>直接報名</a>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>