 <!-- About Section -->
 <section class="success" id="timetable">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>&lt;活動流程<span class="slash">/</span>&gt;</h2>
                <hr>
            </div>
        </div>
        <div class="row">
                <table id="timetable">
                    <tr>
                        <th>Day1</th>
                        <th>Day2</th>
                        <th>Day3</th>
                    </tr>
                    <tr>
                        <td>台大集合</td>
                        <td>起床早餐</td>
                        <td>早餐</td>
                    </tr>
                    <tr>
                        <td>去程</td>
                        <td>RPG</td>
                        <td>水大地</td>
                    </tr>
                    <tr>
                        <td>破冰</td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>始業式</td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>午餐</td>
                        <td>午餐</td>
                        <td>午餐</td>
                    </tr>
                    <tr>
                        <td>大地</td>
                        <td>賭場</td>
                        <td>小隊呈現</td>
                    </tr>
                    <tr>
                        <td>策略遊戲</td>
                        <td>競標</td>
                        <td>分組聊聊</td>
                    </tr>
                    <tr>
                        <td>晚餐</td>
                        <td>烤肉晚餐</td>
                        <td>結業式</td>
                    </tr>
                    <tr>
                        <td>密室假案</td>
                        <td>晚會</td>
                        <td></td>
                    </tr>
                </table>
        </div>
    </div>
</section>
